	body, html {
		height: 100%;
		margin:0;
	}
	.logo{
		background-color:#212121;
	}
	@font-face{
		font-family: cho;
		src : url(../fonts/Chosence.ttf);
	}
	@font-face{
		font-family: eth;
		src: url(../fonts/ETH.ttf);
	}
	@font-face{
		font-family: sego;
		src: url(../fonts/segoeui.ttf);
	}
	@font-face{
		font-family: adv;
		src : url(../fonts/CAFETA_.TTF);
	}
	@font-face{
		font-family: candara;
		src : url(../fonts/Candara.TTF);
	}
	.head{
		position : sticky;
		width:100%;
		background-color:#212121;
		position:sticky;
	}
	.head ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		top:0;
		overflow: hidden;
		background-color: #212121;
		width:100%;
	}
	.head li a {
		float:left;
		display: block;
		color: #edf0da;
		text-align: center;
		text-decoration:none;
		font-family: cho;
		font-size:20px;
		padding: 10px 70px;
	}
	.head li a:hover {
		background-color: #f0dfad;
		color: #b23333;
	}
	.bg{
		background-image: url("../Mockup/bgmerch1.png");
		width:100%;
		height:auto;
		background-repeat:no-repeat;
		background-attachment: fixed;
		background-size: cover;
		margin:0;
	}
	.judul{
		font-family:eth;
		color:#b23333;
		font-size:40px;
		text-align:center;
		padding: 50px;
		padding-bottom: 0px;
	}
	.foot{
		background-color:#212121;
		text-align:center;
	}
	.foot p{
		font-size:20px; 
		font-family:cho; 
		margin:0; 
		padding:3px;
		color:#edf0da;
	}
	.isi{
		background-color: rgba(168, 155, 140, 0.3);
		margin:0px 50px 0px 250px;
	}
	.isian{
		padding:50px;
		padding-bottom:0px;
	}
	input[type=text]{
		font-family: candara;
		width: 30%;
		box-sizing: border-box;
		border: 1px solid #212121;
		background-color: #212121;
		padding: 5px 20px 5px 20px;
		color : #EDF0DA;
		font-size: 15pt;
		transition: 0.5s;
		border-radius: 5px;
	}
	input[type=text]:focus{
		border: #EDF0DA;
	}
	input[type=submit]{
		background-color: #B23333;
		border: none;
		color: #EDF0DA;
		padding: 16px 32px;
		margin: 25px;
		cursor: pointer;
		font-family: eth;
		font-size: 15pt;
		font-weight: bold;
		border-radius: 5px;
	}
	input[type=submit]:hover {
		background-color: #c05252;
	}
	input[name=alamat]{
		width:50%;
	}
	input[type=number]{
		font-family: candara;
		width: 10%;
		box-sizing: border-box;
		border: 1px solid #212121;
		background-color: #212121;
		padding: 5px 20px 5px 20px;
		color : #EDF0DA;
		font-size: 15pt;
		transition: 0.5s;
		border-radius: 5px;
	}
	input[type=number],input[type=text]{
		margin-bottom: 20px;
	}
	.tulisan{
		font-size:20px;
		font-family: eth;
		color : white;
		text-align:left;
	}
	.gambar {
		margin: 50px;
		float: left;
	}