	body, html {
		height: 100%;
		margin:0;
	}
	.logo{
		background-color:#212121;
	}
	@font-face{
		font-family: cho;
		src : url(../fonts/Chosence.ttf);
	}
	@font-face{
		font-family: eth;
		src: url(../fonts/ETH.ttf);
	}
	@font-face{
		font-family: sego;
		src: url(../fonts/segoeui.ttf);
	}
	@font-face{
		font-family: adv;
		src : url(../fonts/CAFETA_.TTF);
	}
	.head{
		width:100%;
		background-color:#212121;
		position:sticky;
	}
	.head ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		top:0;
		overflow: hidden;
		background-color: #212121;
		width:100%;
	}
	.head li a {
		float:left;
		display: block;
		color: #edf0da;
		text-align: center;
		text-decoration:none;
		font-family: cho;
		font-size:20px;
		padding: 10px 70px;
	}
	.head li a:hover {
		background-color: #f0dfad;
		color: #b23333;
	}
	.bg{
		margin:5px 70px 40px;
		background-color:#f0dfad;
		padding:5px;
		text-align:center;
	}
	.bg p{
		font-family:sego;
		font-size:20px;
		padding:5px;
		margin:0px;
	}
	.bg p:hover{
		background-color:#edf0da;
		width:auto;
		margin:0px 200px;
	}
	.bg h1{
		color:#b23333;
		font-family:eth;
	}
	.foot{
		background-color:#212121;
		text-align:center;
	}
	.foot p{
		font-size:20px; 
		font-family:cho; 
		margin:0; 
		padding:3px;
		color:#edf0da;
	}
	