body, html {
	height: 100%;
	margin:0;
}
	@font-face{
		font-family: cho;
		src : url(../fonts/Chosence.ttf);
	}
	@font-face{
		font-family: eth;
		src: url(../fonts/ETH.ttf);
	}
	@font-face{
		font-family: sego;
		src: url(../fonts/segoeui.ttf);
	}
	@font-face{
		font-family: adv;
		src : url(../fonts/CAFETA_.TTF);
	}
	@font-face{
		font-family: candara;
		src : url(../fonts/Candara.TTF);
	}
.logo{
	background-color:#212121;
}
.logo li a {
		display: block;
		background-color:#b23333;
		color: #edf0da;
		border-radius:5px;
		text-align: center;
		font-family: eth;
		font-size:20px;
		text-decoration:none;
		margin:20px 60px 10px 0px;
		padding: 15px;
	}
.logo li a:hover {
		background-color: rgba(240, 223, 173, 0.9);
		color: #212121;
		transition:0.2s
}
.head ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	top:0;
	overflow: hidden;
	background-color: #212121;
	width:100%;
}
.head li a {
	float:left;
	display: block;
	color: #edf0da;
	text-align: center;
	text-decoration:none;
	font-family: cho;
	font-size:20px;
	padding: 10px 70px;
}
.head li a:hover {
	background-color: #f0dfad;
	color: #b23333;
}
.foot{
	background-color:#212121;
	text-align:center;
}
.foot p{
	font-size:20px; 
	font-family:cho; 
	margin:0; 
	padding:3px;
	color:#edf0da;
}
.connect {
	padding: 3px;
}
#content {
	margin-top:0;
	width: auto;
	height: 1200px;
	background-image: url("newsbg.png");
	background-attachment: fixed;
}
.berita{
	margin-left: 450px;
	margin-right: 30px;
}
.judul{
	padding-top : 40px;
	padding-bottom: 30px;
	font-size: 40pt;
	font-family: eth;
	color: #B23333;
	font-weight : bold;
	text-align: center;
}
.isinya{
	font-family: teen;
	color : #EDF0DA;
	font-size: 15pt;
	text-align: justify;
	width: 85%;
	margin-bottom: 15px;
}
.box{
	margin-bottom: 20px;
}
			.huruf {
				letter-spacing: 2px;
				margin-bottom: 2px;
				font-family: candara;
				color : #EDF0DA;
			}
		
	
	

			.connect {
				padding: 3px;
			}
			#content { 
				margin-top:0; 
				width: 100%;
				height: auto;
				background-image: url("newsbg.png");
				background-attachment: fixed;
				background-size: cover;
				background-repeat:no-repeat;
				
			}
			.berita{ 
				margin: 0 0 0 30%;
			}
			.news{ 
				padding : 40px;
				font-size: 120pt;
				font-family: eth;
				color: #B23333;
				font-weight : bold;
				text-align: center;
			}
			.isi {
				width: auto;
				height: 200px;
				padding: 10px;
			}
			.gambar {
				width: auto;
				height : auto;
				margin: 0px;
				float: left;
			}
			.cerita {
				margin-left : 220px;
				width: auto;
				height: 200px;
			}
			.judul {
				margin: 10px;
				font-family: eth;
				font-size: 20pt;
				font-weight : bold;
			}
			.judul a{
				color: #F0DFAD;
				text-decoration: none;
			}
			.judul a:hover {
				color : #212121;
				transition: 0.5s;
			}	
			.isinya{
				font-family: eth;
				color : #EDF0DA;
				font-size: 15pt;
				margin-bottom: 15px;
			}
	
			.read{
				background-color: none;
			}
			.read a {
				width: auto;
				height: 20px;
				display: block;
				color: #EDF0DA;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
				font-family: eth;
			}
			.read a:hover {
				background-color: #F0DFAD;
				color : #B23333;
				transition: 0.5s;
			}	
			.sticky{
				position: -webkit-sticky;
				position: sticky;
				top: 0;
			}

.foot{
	background-color:#212121;
	text-align:center;
}
.foot p{
	font-size:20px; 
	font-family:cho; 
	margin:0; 
	padding:3px;
	color:#edf0da;
	position:bottom;
}