body, html {
	height: 100%;
	margin:0;
}
.logo{
	background-color:#212121;
}
	@font-face{
		font-family: cho;
		src : url(../fonts/Chosence.ttf);
	}
	@font-face{
		font-family: eth;
		src: url(../fonts/ETH.ttf);
	}
	@font-face{
		font-family: sego;
		src: url(../fonts/segoeui.ttf);
	}
	@font-face{
		font-family: adv;
		src : url(../fonts/CAFETA_.TTF);
	}
	@font-face{
		font-family: candara;
		src : url(../fonts/Candara.TTF);
	}
	.head{
		width:100%;
		background-color:#212121;
	}
	.head ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		top:0;
		overflow: hidden;
		background-color: #212121;
		width:100%;
	}
	.head li a {
		float:left;
		display: block;
		color: #edf0da;
		text-align: center;
		text-decoration:none;
		font-family: cho;
		font-size:20px;
		padding: 10px 70px;
	}
	.head li a:hover {
		background-color: #f0dfad;
		color: #b23333;
	}
	
	#content {
		margin-top:0;
		width: 100%;
		height: auto;
		background-image: url("newsbg.png");
		background-attachment: fixed;
		background-size: cover;
		background-repeat:no-repeat;
	}
	.bagian{
		margin:0% 5% 0% 25%;
		background-color: rgba(168, 155, 140, 0.2);
		padding:20px;
	}
	.judul{
		padding-top : 40px;
		padding-bottom: 30px;
		font-size: 40pt;
		font-family: eth;
		color: #B23333;
		font-weight : bold;
		text-align: center;
	}
	.isi{
		font-family: teen;
		color : #EDF0DA;
		font-size: 15pt;
		text-align: justify;
		width: 85%;
		margin-bottom: 15px;
	}
	
	.foot{
		background-color:#212121;
		text-align:center;
	}
	.foot p{
		font-size:20px; 
		font-family:cho; 
		margin:0; 
		padding:3px;
		color:#edf0da;
	}
